body {
    line-height: 1.5;
    color: #555;
    font-family: 'Lato', sans-serif;
}

.center { text-align: center !important; }

.button {
	display: inline-block;
	position: relative;
	cursor: pointer;
	outline: none;
	white-space: nowrap;
	margin: 5px;
	padding: 8px 22px;
	font-size: 0.875rem;
	line-height: 24px;
	background-color: #BE1622;
	color: #FFF;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
	border: none;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

body:not(.device-touch) .button {
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.button:hover {
	background-color: #444;
	color: #FFF;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

.button.button-large {
	padding: 8px 26px;
	font-size: 1rem;
	line-height: 30px;
}

.button i {
	position: relative;
	margin-right: 5px;
	width: 16px;
	text-align: center;
}

.button.button-3d {
	border-radius: 3px;
	box-shadow: inset 0 -3px 0 rgba(0,0,0,0.15);
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
}

.button.button-3d:hover {
	background-color: #BE1622;
	opacity: 0.9;
}

.highlight {
	padding: 2px 5px;
	background-color: #444;
	color: #FFF;
	border-radius: 2px;
}

.sm-form-control {
	display: block;
	width: 100%;
	height: 38px;
	padding: 8px 14px;
	font-size: 15px;
	line-height: 1.42857143;
	color: #555555;
	background-color: #ffffff;
	background-image: none;
	border: 2px solid #DDD;
	border-radius: 0 !important;
	-webkit-transition: border-color ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s;
	transition: border-color ease-in-out .15s;
}

.sm-form-control:focus {
	border-color: #AAA;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.sm-form-control::-moz-placeholder {
	color: #999;
	opacity: 1;
}

.sm-form-control:-ms-input-placeholder { color: #999; }

.sm-form-control::-webkit-input-placeholder { color: #999; }

.sm-form-control[disabled], .sm-form-control[readonly] {
	cursor: not-allowed;
	background-color: #eeeeee;
	opacity: 1;
}

.sm-form-control { height: auto; }

.sm-form-control.error { border-color: #E42C3E; }

.heading-block { margin-bottom: 50px; }

.heading-block h2 {
	margin-bottom: 0;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #333;
}

label.error {
	margin-top: 5px;
	color: #E42C3E;
	font-weight: 400;
}

label.error { display: none !important; }

label {
    display: inline-block;
    font-size: 13px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #555;
    margin-bottom: 10px;
    cursor: pointer;
}

.heading-block h2 {
    font-size: 30px;
}

.heading-block h2 {
    margin-bottom: 0;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #333;
}

.heading-block.center > span, .heading-block.text-center > span, .center .heading-block > span, .text-center .heading-block > span {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.heading-block > span:not(.before-heading) {
    display: block;
    margin-top: 10px;
    font-weight: 300;
    color: #777;
}